body{
		margin: 0px;
		font-family: 'Verdana';
	}
	.navbar {
		background-color: transparent;
		position:fixed;
		top: 0;
		border: 0;
		width: 100%;

	}
	.jumbotron {
		background-image: url("images/bg.jpeg");
		background-size: cover;
		text-align: center;
		color: white;
		padding: 8%;

	}

	.logo {
		width: 100px;
		height:30px;
	}
	
	.c {
		height: 50vh;

	}
	.azul {
		background-color: blue;
		color: white;
	}

	.verde {
		background-color: green;
		color: white;
	}
	
	.f {
		background-color: #555;
		color: #ccc;
		padding: 1%;
	}
	.vv {
		padding: 15px;
	}